@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #3b82f6;
  --color-secondary: #8b5cf6;
  --color-dark: #0f172a;
  --color-dark-lighter: #1e293b;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0f172a; /* Deep Navy */
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
